* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  font-family: sans-serif;
  background: #123456;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  margin-right: 10px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 100vh;
}
/* .light{
  background: rgb(110, 216, 255);
}
.light *{
  color: black;
}
.dark{
  background: black;
}
.dark *{
  color: white;
} */
.theme_btn{
  height: 20px;
}
.box{
  height: 100vh;
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box h1{
  transform:  scale(0);
  transition: 1s linear;
}
.box h1:hover{
  letter-spacing: 10px;
}
.box .show{
  transform: scale(1);
  /* transition: 1s linear; */
}
.box .show2{
  transform: scale(1) translateY(-150px);
  letter-spacing: 3px;
}
.navbar{
  /* position: absolute; */
  top: 0;
  left: 0;
  background: rgb(0, 0, 0);
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.7s linear;
}
.scroled{
  position: fixed !important;
  background: rgb(78, 78, 78);
}
.navbar a{
  color: white;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.load{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
}